body{
    background-color: rgb(12, 47, 59);
    color: white;
    font-size: 22;
}
h1{
    text-align: center;
}
input[type=text], input[type=password], input[type=tel], input[type=email] {
    width: 100%;
    border: 2px solid;
    padding: 5px;
    margin: 10px 0 22px 0;
}
button {
    border: 2px solid;
    width: 100%;
    margin: 10px o 15px 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 47, 59);
    opacity: 1;
    border-radius: 25px;
}
.cancelbtn {
    width: 10%
}
.continuebtn {
    width: 10%;
    padding: 2px;
    border: 1px solid;
}
.container {
    color: white;
    background-color: rgb(12, 47, 59);
}
.logcont {
    color: white;
    background-color: rgb(12, 47, 59);
    width: 95%;
    font-size: 25px;
}
.imgcontainer {
    text-align: center;
    display: block;
   margin: auto;
   margin: auto;
  width: 20%; 
  background-color: rgb(12, 47, 59);
  margin-top: 10px;
}
input[type=email]{
    width: 95%;
    border-radius: 25px;
}
input[type=password]{
    width: 94%;
    border-radius: 25px; 
}
.myclass {
    background-color: rgb(12, 47, 59);
}
a {
    color: red;
}
.cancelbtn {
    color: red;
}
.myfavour {
    text-indent: 110ch;
}
.goodimage{
    margin-top: 10px;

}
h2{
    text-align: center;
    border-radius: 50px;
    border: solid 50px black;
    background-color: black;
    color: #3a923a;
  font-size: 100pt;
    
}
.myTerms {
width: 20%;
}
p {
  font-size: 15pt;
}
div {
  font-size: 11pt;
}